# :::::::::::::::::::::: cut ::::::::::::::::::::::

# Put ignore patterns for build artifacts above the cut line
# so they are ignored in the source repo and committed
# to Pantheon.
# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
